.usercrap {
    display: flex;
    flex-flow: row wrap;
}

.usercrap .saleItem {
    width: 100%;
}

.usercrap .saleList {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    width: 75%;
} 

.userSale {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    width: 25%;
}

.usercrap .saleList .saleItemBox {
width: 80%;
font-size: 24px;
}

.usercrap .userSale .saleItemBox {
    width: auto;
    font-size: 12px;
}

.usercrap h2 {
    color: #2c4233;
    padding-top: 20px;
    text-shadow: 5px 5px 5px gray;
    font-size: 2rem;
}