.usercrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
}

.saleItem {
    width: 100%;
    display: flex;
}


.saleList {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    width: 75%;
} 

.userSale {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    width: 25%;
}

.saleList {
    width: 75%;
}

.saleItemBox {
width: 80%;
font-size: 24px;
margin: 20px;
}
 .userSale {
    width: auto;
    font-size: 12px;
}

.usercrap h2 {
    color: #2c4233;
    padding-top: 20px;
    text-shadow: 5px 5px 5px gray;
    font-size: 2rem;
}

@media only screen and (max-width: 1900px) {
    .usercrap {
        flex: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center; 
    }
.saleList {
        width: 100%;
        padding: 0;
    }
    .saleItemBox {
        width: 90%;
    }
    .userSale {
        width: 100%;
    }
}