:root {
  --primaryfont: #782d16;
  --secondaryfont: #d05931;
  --primaryBG: #c8c3b4;
  --primaryColor: #708777;
  --secondaryColor: #a07959;
  --accentColor: #e5a77d;
}

.navbar {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 25px;
  background-color: var(--primaryfont);
  border: 2px solid grey;
  border-radius: 20px;
  margin: 40px 70px 0 70px;
  box-shadow: 10px 10px 5px grey;
}

.link {
    color: var(--primaryColor);
    text-decoration: none;
    font-size: 1.5rem;
}

.link:hover {
    color: var(--accentColor);
}

@media only screen and (max-width: 1000px) {
  .navbar, .link {
     font-size: 4vw;
   }
   .navbar {
     align-content: center;
     margin: 0 35px 0 35px;
   }
  }