:root {
  --primaryfont: #782d16;
  --secondaryfont: #d05931;
  --primaryBG: #c8c3b4;
  --primaryColor: #708777;
  --secondaryColor: #a07959;
  --accentColor: #e5a77d;
}

.signup {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .login, .signupHeader {
     font-size: 4vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
     justify-content: space-evenly;
     padding: 10px;
   }
   .signupForm {
    height: 80%;
    width: 80%;
   }
  }