@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

:root {
  --primaryfont: #fb7e2a;
  --secondaryfont: #d55e02;
  --primaryBG: #8f99a4;
  --primaryColor: #599832;
  --secondaryColor: #0c3f30;
}

body {
  margin: 0;
  font-family: 'Otomanopee One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primaryBG);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
