:root {
  --primaryfont: #782d16;
  --secondaryfont: #d05931;
  --primaryBG: #c8c3b4;
  --primaryColor: #708777;
  --secondaryColor: #a07959;
  --accentColor: #e5a77d;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.loginSections {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginLabel,
.loginButton {
  color: var(--primaryfont);
  font-size: 1.7rem;
}

.loginInput {
  width: 250px;
}

.loginButton {
  font-weight: bold;
  width: 150px;
  height: 60px;
  cursor: pointer;
}

.loginInput,
.loginButton {
  border: 5px solid var(--primaryColor);
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
}

@media only screen and (max-width: 1200px) {
  .login, .loginHeader {
     font-size: 4vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
     justify-content: space-evenly;
     padding: 10px;
   }
   .loginForm {
    height: 80%;
    width: 80%;
   }
  }