:root {
  --primaryfont: #782d16;
  --secondaryfont: #d05931;
  --primaryBG: #c8c3b4;
  --primaryColor: #708777;
  --secondaryColor: #a07959;
  --accentColor: #e5a77d;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loginHeader {
  font-size: 3.5rem;
  color: var(--secondaryfont);
  margin-top: 50px;
  text-shadow: 10px 10px 5px grey;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin: 40px;
  border: 8px solid var(--primaryColor);
  border-radius: 60px;
  background-color: rgb(210, 205, 205);
  box-shadow: 10px 10px 5px grey;
  width: 30%;
  height: 20%;
}

.loginSections {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.loginLabel,
.loginButton {
  color: var(--primaryfont);
  font-size: 1.7rem;
}

.loginInput {
  width: 45%;
}

.loginButton {
  font-weight: bold;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: #a9c6b1;
  font-family: 'Otomanopee One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.loginInput,
.loginButton {
  border: 5px solid var(--secondaryColor);
  border-radius: 10px;
}
