:root {
  --primaryfont: #782d16;
  --secondaryfont: #d05931;
  --primaryBG: #c8c3b4;
  --primaryColor: #708777;
  --secondaryColor: #a07959;
  --accentColor: #e5a77d;
}

.saleItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saleItemBox {
  padding: 30px;
  margin: 40px;
  border: 7px solid var(--secondaryfont);
  border-radius: 20px;
  box-shadow: 10px 10px 5px grey;
  width: 25%;
}
