:root {
  --primaryfont: #782d16;
  --secondaryfont: #d05931;
  --primaryBG: #c8c3b4;
  --primaryColor: #708777;
  --secondaryColor: #a07959;
  --accentColor: #e5a77d;
}

form {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

form,
.addSale {
  color: var(--secondaryColor);
}

.saleCategory {
  display: flex;
  flex-direction: column;
}

.addSale {
  font-size: 2.3rem;
}

.newSaleSection {
  font-size: 1.7rem;
}

label {
  font-size: 1.3rem;
  padding: 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

input {
  height: 40px;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}

button {
  border-radius: 5px;
  padding: 5px;
  color: var(--secondaryColor);
}

button:hover {
  color: var(--accentColor);
  background-color: var(--primaryColor);
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
  }