:root {
  --primaryfont: #fb7e2a;
  --secondaryfont: #d55e02;
  --primaryBG: #8f99a4;
  --primaryColor: #599832;
  --secondaryColor: #0c3f30;
}

form {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

form,
.addSale {
    color: var(--secondaryColor);
}

.saleCategory {
    display: flex;
    flex-direction: column;
}

.addSale {
    font-size: 2.3rem;
}

.newSaleSection {
    font-size: 1.7rem;
}

label {
    font-size: 1.3rem;
    padding: 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

input {
    height: 40px;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}
