:root {
  --primaryfont: #fb7e2a;
  --secondaryfont: #d55e02;
  --primaryBG: #8f99a4;
  --primaryColor: #599832;
  --secondaryColor: #0c3f30;
}

header {
    color: var(--secondaryColor);
    font-weight: bolder;
    background-color: #a0757e;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 20px;
    margin-right: 40px;
    margin-left: 40px;
    box-shadow: 10px 10px 5px grey;
}

h1 {
    font-size: 4rem;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
  padding-bottom: 20px;
}
