:root {
  --primaryfont: #782d16;
  --secondaryfont: #d05931;
  --primaryBG: #c8c3b4;
  --primaryColor: #708777;
  --secondaryColor: #a07959;
  --accentColor: #e5a77d;
}

header {
    color: #782d16;
    font-weight: bolder;
    background-color: #708777;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 20px;
    margin-right: 40px;
    margin-left: 40px;
    box-shadow: 10px 10px 5px grey;
}

.headerTitle {
    font-size: 4rem;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 7px 7px 5px rgb(59, 100, 69);
}

.headerDescription {
  padding-bottom: 20px;
  text-shadow: 10px 10px 5px rgb(59, 100, 69)
}

@media only screen and (max-width: 1000px) {
  .headerTitle, .headerDescription {
     font-size: 6vw;
   }
   .headerDescription {
    font-size: 3vw;
   }
   header {
     align-content: center;
   }
  }